<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="" />
    <add name="AzureWebJobsStorage" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="Tenant" value="delegatedemo01.onmicrosoft.com" />
    <add key="ClientId" value="30689845-76cd-4795-b1e3-c25d78cfde31" />
    <add key="ClientSecret" value="FCKR828JxjCYvyrDw9CKcDnztqHI9f7x5fes+UMRRqc=" />
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=daledev;AccountKey=SydK5SvM0oEbp/g7I7x+7ZsdHueSsa4zd7cZQi0gHM7hD64DkHiaeA9qmvu6Fs3BX66th5Jown6hK4cy7leHvw==" />
    <add key="AzureQueueName" value="dale-auditeventqueue" />
    <add key="RedactedFields" value="" />
    <add key="PartiallyRedactedFields" value="" />
  </appSettings>
    <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.1.0" newVersion="8.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.KeyVault.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
