<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Tenant" value="delegatedemo01.onmicrosoft.com"/>
    <add key="ClientId" value="30689845-76cd-4795-b1e3-c25d78cfde31"/>
    <add key="ClientSecret" value="FCKR828JxjCYvyrDw9CKcDnztqHI9f7x5fes+UMRRqc="/>
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=blutest;AccountKey=Zka2GT81dL6QN92OZwPuv8CeUrzLIyJP2jIEvW+VNiEuR4DSada+YElw6nW+h1yM0vBiVprg6NaHusuF+IxT8Q=="/>
    <add key="AzureQueueName" value="dale-auditeventqueue"/>
    <add key="RedactedFields" value=""/>
    <add key="PartiallyRedactedFields" value=""/>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>
